:root {
  --imperial-red: #e63946ff;
  --honeydew: #f1faeeff;
  --powder-blue: #a8dadcff;
  --celadon-blue: #457b9dff;
  --prussian-blue: #1d3557ff;
  --default-card-size: 8rem;
  --default-gap: 0.5rem;
  font-size: 18px;
  font-family: "Space Mono", monospace;
}

body {
  user-select: none;
  -webkit-user-select: none;
  margin: 0;
  background: var(--honeydew);
  padding-bottom: 2rem;
}

header {
  background: var(--powder-blue);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  margin: 0;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  font-family: "Space Mono", monospace;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--imperial-red);
}
#game {
  row-gap: var(--default-gap);
  column-gap: var(--default-gap);
  display: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(--default-card-size);
  height: var(--default-card-size);
}

.front-card {
  background: var(--celadon-blue);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="rgb(29, 53, 87)" d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(var(--default-card-size) * 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  user-select: none;
}

.front-card,
.back-card {
  position: absolute;
  width: var(--default-card-size);
  height: var(--default-card-size);
  transition: transform 500ms ease-in;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 0.5rem;
}

.back-card {
  transform: rotateY(180deg);
}

.selected > .front-card {
  transform: rotateY(180deg);
}

.selected > .back-card {
  transform: rotateY(0);
}

#play-again {
  display: none;
}

#level-selector {
  display: none;
  gap: var(--default-gap);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5vw 0;
}

#quit {
  margin-top: 2rem;
}

.heading {
  width: 100%;
  font-size: calc(1rem + 1vw);
  display: flex;
  align-items: start;
  justify-content: center;
}

#level-buttons {
  gap: var(--default-gap);
  display: flex;
}

#start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 5vw 0;
}

#menu-buttons-container {
  margin-top: 5rem;
  display: flex;
  gap: var(--default-gap);
}

#start-button {
  flex-grow: 1;
  flex-basis: 0;
}

#how-to-play-button {
  flex-grow: 1;
  flex-basis: 0;
}
.default-button {
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
}

.square-button {
  font-size: 4rem;
  border-radius: 0.5rem;
  height: var(--default-card-size);
  width: var(--default-card-size);
}

.square-button.small {
  font-size: 2rem;
  height: calc(var(--default-card-size) * 0.48);
  width: calc(var(--default-card-size) * 0.48);
}

#win-card {
  display: none;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#win-card > p {
  font-size: 3.5rem;
}

@media (max-width: 1000px) {
  .card,
  .front-card,
  .back-card {
    width: calc(var(--default-card-size) * 0.8);
    height: calc(var(--default-card-size) * 0.8);
  }

  .square-button {
    width: calc(var(--default-card-size) * 0.8);
    height: calc(var(--default-card-size) * 0.8);
    font-size: 3rem;
  }

  .front-card {
    background-size: calc(var(--default-card-size) * 0.8 * 0.7);
  }
}

#scoreboard {
  padding-top: 2rem;
  padding-bottom: var(--default-gap);
  display: none;
  min-width: 750px;
  justify-content: space-between;
  align-items: center;
}

#score-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  font-size: calc(1.2rem + 0.5vw);
}

#scoreboard-buttons-container {
  display: flex;
  gap: calc(var(--default-gap) * 0.5);
  margin-left: var(--default-gap);
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 10;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--default-gap);
}

.modal-card > h1 {
  margin: 0;
}

.modal-card {
  font-size: 1.1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--default-gap);
  position: absolute;
  min-width: 600px;
  margin: 1rem;
  background: var(--honeydew);
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
  top: 25%;
  z-index: 15;
  border-radius: 2rem;
  transition-duration: 3s;
  transition-property: opacity;
}

.modal-card-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem auto 0;
  gap: 3rem;
}

#portrait-message-modal {
  display: none;
}

#how-to-play-modal {
  display: none;
}

#end-level-modal {
  display: none;
}

#end-level-modal-yes {
  background: #f1faee;
  color: #e63946;
  border: 1px solid #e63946;
  min-width: 120px;
}

#disable {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
#end-level-modal-no {
  min-width: 120px;
}

#restart-level-modal {
  display: none;
}

#restart-level-modal-yes {
  background: #f1faee;
  color: #e63946;
  border: 1px solid #e63946;
  min-width: 120px;
}

#restart-level-modal-no {
  min-width: 120px;
}

@media (max-width: 768px) {
  .modal-card {
    min-width: 420px;
    width: 80%;
  }

  #scoreboard {
    min-width: 440px;
  }

  .how-to-play > .heading {
    font-size: 1.5rem;
  }

  .how-to-play > .text {
    font-size: 0.9rem;
  }

  .card,
  .front-card,
  .back-card {
    width: calc(var(--default-card-size) * 0.7);
    height: calc(var(--default-card-size) * 0.7);
  }

  .square-button {
    width: calc(var(--default-card-size) * 0.7);
    height: calc(var(--default-card-size) * 0.7);
    font-size: 3rem;
  }

  .front-card {
    background-size: calc(var(--default-card-size) * 0.7 * 0.7);
  }
}

@media screen and (max-width: 450px) {
  .modal-card {
    min-width: 350px;
    width: 80%;
  }

  #scoreboard {
    min-width: 350px;
  }

  .how-to-play {
    top: 15%;
  }

  .how-to-play > .heading {
    font-size: 1.5rem;
  }

  .how-to-play > .text {
    font-size: 0.9rem;
  }

  .card,
  .front-card,
  .back-card {
    width: calc(var(--default-card-size) * 0.55);
    height: calc(var(--default-card-size) * 0.55);
  }

  .square-button.small {
    font-size: 2rem;
    height: calc(var(--default-card-size) * 0.40);
    width: calc(var(--default-card-size) * 0.40);
  }

  .square-button {
    width: calc(var(--default-card-size) * 0.55);
    height: calc(var(--default-card-size) * 0.55);
    font-size: 2rem;
  }

  .front-card {
    background-size: calc(var(--default-card-size) * 0.55 * 0.7);
  }
}
